*{
 	margin: 0px;
 	padding: 0px;
 	font-family: sans-serif;
}
p {
	margin-bottom: 10px;
	padding: 5px;
}

#Top{
	background-color: #F8F8F8;
	width: 900px;
	height: 60px;
}

#wrapper{
	 width: 860px;
	 background-color: #4E3B43;
	 margin: 0px;
	 padding: 20px;
}

#Name{
	width: 485px;
	height: 50px;
	margin-left: 10px;
	display: inline-block;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}
#Subject{
	height: 50px;
	margin-left: 40px;
	display: inline-block;
	font-size: 14px;
}

#Self_Pic{
	height: 237px;
	width: 360px;
	border: 5px solid lightgray;
	display: inline-block;
}

#About{
	height: 247px;
	width: 465px;
	background-color: #E5DBE4;
	display: inline-block;	
	margin-left: 20px;
	vertical-align: top;
}

	#About h3{
	background-color: #8F8E9A;
	height: 30px;
	color: white;
	padding: 5px;
	}

	#About a{
		color: black;
		margin-left: 5px;
	}

.columns{
	background-color: #E5DBE4;
	height: 560px;
	width: 270px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	vertical-align: top;
}

.nomargins{
	margin-left: 0px;
}

.columns p{
	height: 170px;
}

.columns h4{
	margin-bottom: 5px;
}

.languageimages{
	margin-left: 10px;
	margin-top: 5px;
	align-items: center;

}
.columntext{
	margin-bottom: 10px;
	padding: 5px;
	text-align: justify;
	font-size: 15px;	
}

.columnimage{
	height: 138px;
	width: 270px;	
}

.titlebar{
	background: -webkit-radial-gradient(gray, darkgray, darkgray);
	height: 25px;
	color: white;
	padding: 10px;	
}
.Technologies{
	background: -webkit-radial-gradient(gray, darkgray, darkgray);
	height: 18px;
	color: white;
	padding: 10px;	
}

.languageimages{
	height: 38px;
	width: 38px;
}

.button{
	text-align: center;
	padding: 10px;
}

.pushbutton{
	background-color: #407D61;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	margin: 5px auto;
	text-align: center;
	font-size: 14px;
}

#Bottom{
	background-color: #F8F8F8;
	width: 900px;
	height: 60px;
	text-align: center;
}

.footerlogos{
	height: 20px;
	width: 20px;
	display: inline-block;
}

ul > li{
    display:inline-block;
    font-style: italic;
}