/* CSS Reset */
* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
}

li {
  list-style: none;
}

#container{
    width: 970px;
    margin: auto;
}

#top{
    padding: 0px 40px 8px;
    color: #F9FBFB;
    background: #265175;
    box-shadow: 0px 1px #1A3852;
}

#python_logo{
    width: 270px;
    height: 77px;
}

    h5{
        color: white
}

#top_right{
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin: 5px 0 0 280px;
}

#top_right a{
  color: #C6AA08;
  text-decoration: underline;
}

header h5{
  margin: 0 45px 5px 0;
}

#search{
  background-color: #444444;
  box-shadow: 3px 3px 5px #000000;
  padding: 10px 40px;
  border-radius: 10px;
  margin-top: 3px;
}

    input[type="text"]{
    height: 30px;
    width: 150px;
    text-align: center;
    }

    input[type="submit"]{
    background-color: #265175;
    color: white;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #444;
    }

#topnavigation{
    padding: 12px;
    margin: 10px 0px 20px;
    background: linear-gradient(#3876AB, #497FAB, #3876AB);
    border-radius: 5px;
    box-shadow: 3px 3px 5px #000000;
    text-align: center;
}

#topnavigation li{
    padding: 0px 25px;
    display: inline;
    font-size: 20px;
    font-weight: normal;
}

#topnavigation li a{
    font-size: 20px;
    text-decoration: none;
}

#leftnavigation{
    padding: 0px 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#leftnavigation a{
    font-size: 16px;
}

#leftnavigation li {
    margin: 5px;
}

#leftnavigation li:before{
    content: '»';
    position: relative;
    left: -5px;
    color: #F0CC45;
    font-size: 18px;
}

#top .column{
    margin: 0px 0px 0px 30px;
    text-align: center;
    width: 600px;
    display: inline-block;
}

#top .column p{
    font-size: 13px;
}

#top .column ul{
    margin: 13px;
}

#top .column li{
    margin: 8px 0px;
    font-size: 18px;
    font-style: italic;
    color: #FDD242;
}

#top .column h2{
    font-size: 17px;
    font-weight: normal;
}


#middle {
    color: #1F1F1F;
    text-align: center;
}

#middle .centercolumns:first-of-type{
    margin-left: 60px;
}

#middle .centercolumns{
    margin: 15px 20px;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #75A8D3;
    width: 390px;
}
.centercolumns #text{
    font-size: 9px;
}
#middle .column{
    width: 300px;
}

#middle h2{
    font-size: 15px;
    font-weight: normal;
    margin: 3px 0px 5px;
}

#middle a{
    text-decoration: none;
    color: #7AABD4;
}

#middle p a{
    font-size: 11px;
}

#middle ul{
    padding: 0px 30px;
}

#middle li{
    margin: 3px 0px;
}

#middle li:before{
    content:'\25A0';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -10px;
    top: 0;
}

#footer{
    background: linear-gradient(#265175, #3877AB);
    text-align: center;
    color: #87B8E1;
}

#footer ul{
    padding: 50px 0px 20px;
}

#footer li{
    padding: 0px 20px;
    display: inline;
}

#footer a{
    text-decoration: none;
    color: #87B8E1;
    font-size: 14px;
}

#footer p{
    padding: 5px;
    font-size: 10px;
}