
* {
    /*margin: 0;
    padding: 0;*/
    font-family: Arial;
}

body {
    width: 970px;
    height: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(#e4e4e4, white, white, white);
}

header img {
    height: 100px;
    position: absolute;
}

header h1 {
    font-size: 3.2em;
    padding: 25px 20px 0px 100px;
    margin: 0;
    background-color: white;
}

header h2 {
    padding: 10px 20px;
    margin: 0;
    color: white;
    background: linear-gradient(#0561a0, #4280ad, #0561a0);
}

header span {
    color: #0561a0;
}

#sidebar {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    height: 600px;
    margin: 0 40px 0 0;
    padding: 0 5px;
}

#sidebar h4 span {
    color: red;
}

input[type="submit"] {
    display: block;
    width: 80%;
    margin: 0 auto 5px auto;
    padding: 5px 0 5px 0;
    box-shadow: 2px 2px 2px gray;
    color: white;
    background: linear-gradient(#4280ad, #0561a0);
    border-radius: 5px;
    font-size: 0.8em;
    border: none;
}

#sidebar input[type="submit"]:nth-of-type(2) {
    background: linear-gradient(#f5a639, #ff6a00);
}

#sidebar #ad input[type="submit"] {
    background: linear-gradient(#2ed1e2, #00c3e3);
}

#sidebar p {
    font-size: 0.85em;
    margin-top: -5px;
    margin-bottom: 20px;
    font-weight: bold;
}

#sidebar p span {
    color: #0561a0;
}

#ad {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid gray;
    text-align: center;
}

#background {
    display: block;
    width: 200px;
    height: auto;
    position: absolute; 
    z-index: -1;
}


#sidebar h3, #ninja {
    color: white;
    font-size: 1.4em;
    font-weight: thin;
    display: block;
    margin-top: 10px;
}

#ninja {
    width: 90px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}

section {
    display: inline-block;
    width: 700px;
}

#top {
    padding: 0 0 10px 0;
    border-bottom: 1px solid dimgray;
}

#top img, #top h3, #top div {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#top h3 {
    font-size: 0.8em;
    color: #0561a0;
    margin: 12px 0 0 0;
}

#phone, #right {
    position: relative;
    left: 460px;
    color: gray;
}

#home-logo {
    height: 20px;
    position: relative;
    top: 7px;
}

#phone {
    top: 5px;
    height: 40px;
}

#top div {
    text-align: right;
}

#top div h3 {
    color: #00c2e3;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

#top h6 {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

h3 {
    color: #0561a0;
    margin: 1em 0 .1em 0;
}

p {
    margin: .5em 0;
}

ul, ol, li {
    margin-top: .5em;
}

article span {
    font-weight: bold;
}

article p, article ul, article ol {
    font-size: 0.8em;
}

#diagram {
    display: block;
    width: 230px;
    height: auto;
    margin: auto;
}

#bordered img, #content {
    display: inline-block;
    vertical-align: top;
}

#bordered {
    border: 5px solid dodgerblue;
}

#bordered img {
    width: 100px;
    height: auto;
    margin: 20px 0 0 20px;
}
#content {
    width: 450px;
    margin: 0 0 0 10px;
}

#content p {
    font-size: 0.8em;
}

a {
    color: #00c2e3;
    text-decoration: none;
}