/*CSS reset settings here*/

*{
 	margin: 0px;
 	padding: 5px;
}

ul {
	margin-left: 20px;

}

a {
	color: cyan;
}

p {
	font-size: 13px;
}

li{
	font-size: 12px;
	color: #d8d8d8;
}

.coding{
	color: #7B8CFE;
}

#wrapper{
	 width: 970px;
	 background-color: #1D355C;
	 margin: 0px auto;
	 padding: 10px;
 }

#header{
	background-color: #CC323B;
	height: 50px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
}

h1{
	color: white
}

#navigation{
	background-color: #2F7D8B;
	height: 200px;
	width: 180px;
	padding: 15px;
	padding-top: 25px;
	display: inline-block;
	border-radius: 25px;
	color: cyan;
	font-size: 15px;
	line-height: .6;
	white-space: nowrap;
}

#main_content{
	background-color: #0F1822;
	height: 400px;
	width: 710px;
	margin-left: 15px;
	padding: 15px;
	display: inline-block;
	border-radius: 25px;
	vertical-align: top;
	color: #d8d8d8;
}
#advertisement{
	background-color: #5E6672;
	height: 25px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 15px;
	color: white;
}